body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .trending-products {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product img {
    width: 40%;
    height: auto;
    border-radius: 4px;
  }

  .setting
  {
    display: flex;
    gap: 10px;
    width: 32%;
  }
  
  .product h3 {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  .product p {
    margin-bottom: 10px;
  }
  
  .product span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  